* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  background-color: #162e5c;
  display: grid;
  grid-template-areas:
    "logo searchBox . login"
    "logo . . .";
  grid-template-columns: 0.4fr minmax(550px, auto) 1fr 1fr;
  grid-template-rows: 1fr 0.2fr;
}

.logo {
  grid-area: logo;
  margin: 1rem;
}

#moovieLogo {
  width: 130px;
  height: 60px;
  cursor: pointer;
}

.searchBox {
  grid-area: searchBox;
  padding-top: 1rem;
}

.search input {
  margin-left: 1rem;
  min-width: 15em;
  font-size: 1rem;
  padding: 1%;
}

.search button {
  width: 2rem;
  height: 2rem;
  border-radius: 0.7rem;
  cursor: pointer;
}

#search_Logo {
  width: 1rem;
  height: 1rem;
}

.logInBox {
  grid-area: login;
  display: grid;
  grid-template-areas:
    ". . name"
    ". . logBtn";
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr 0.5fr;
}

#log_join,
#log_out {
  grid-area: logBtn;
  margin-left: 1.5rem;
  width: 5rem;
  cursor: pointer;
  background-color: #ffbc00;
  box-shadow: 0px 0px 0px 0px #ffbc00;
  border: 0px;
  border-radius: 2rem;
  font-family: "Gothic A1", sans-serif;
}

#log_join:hover,
#log_out:hover {
  box-shadow: 0px 0px 0px 5px #d6a00c;
}

#log_in_user {
  grid-area: name;
  background-color: white;
  margin: 10px;
  width: 6rem;
  height: 2rem;
  padding-top: 7px;
  font-size: 1rem;
  text-align: center;
  border-radius: 2rem;
  font-family: "Gothic A1", sans-serif;
}

.search select {
  margin-left: 2rem;
}

.optionBox {
  display: inline-flex;
  margin-left: 1rem;
}

#sortForm {
  margin-right: 0.6rem;
}

#genreFilter {
  margin-right: 0.7rem;
}
