.p_log_join_page{
    display: flex;
   
    overflow:hidden;
    width: 1800px;
    background-color: aqua;
text-align: center;
color: aliceblue;
}
.log_join_page{

    display: flex;
animation: left-right 90s infinite ;

}
@keyframes left-right{
    from{
        transform: translate(0%);
        transition-property: transform;
        transition-duration: 10s;
        transition-timing-function: linear;
    }
    to{
        transform: translate(-90%);
        transition-property: transform;
        transition-duration: 10s;
        transition-timing-function: linear;
    }
  }

.log_join_fuc{
    background-color: aqua;
    width: 300px;
    right:  500px;
    padding-left: 40px; 
    margin-left: 800px;
}

.join_mem_parent{
    display: none;
}

.back_log{
    display: none;
}
