.장르 {
    position: absolute;
    border-radius: 20px;
    left: 10px;
    top: 10px;
    display: flex;
    flex-direction: row;
}

#filterform {
    margin-right: 10px;
}

#checkbox {
    margin-left: 10px;
}